.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-left: 0;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logout {
    margin-right: auto;
}
.welcome{
    padding-right: 30px;
    padding-left: 0;
    font-size: 1.05rem;
}
